.board__container{
  display: flex;

  .board__info__section{
    display: flex;
    flex-direction: column;

    .project__suptitle{
      color: grey;
      font-size: 15px;
      margin-top: 30px;
      margin-left: 50px;
    }

    .project__suptitle:hover{
      cursor: pointer;
      color: rgb(88, 88, 88);
    }

    .project__title{
      font-size: 20px;
      margin-left: 50px;
      margin-top: 20px;
    }

    input{
      width: 160px;
      height: 25px;
      margin-top: 25px;
      margin-left: 40px;
      padding-left: 10px;
      border: 1.5px solid rgb(211, 211, 211);
      border-radius: 4px;
    }

    .sections__wrapper{
      display: flex;

    .make__task__section{
      margin-top: 25px;
      margin-left: 40px;
      border-radius: 4px;
      width: 300px;
      background-color: rgb(239, 241, 243);
      padding: 14px 14px 30px 14px;

        p{
          color: grey;
          font-size: 12px;
          margin-bottom: 25px;
        }

      .add__button{
        margin-top: 20px;
        width: 300px;
        color: grey;
        font-size: 14px;
        text-align: left;
        padding: 10px;
        border: transparent;
        border-radius: 4px;
        background-color: transparent;
      }

      .add__button:hover{
        cursor: pointer;
        background-color: rgb(206, 208, 212);
      }

      textarea{
        display: none;
      }

      .add__task__button{
        display: none;
      }
    }

    .input__section{
      margin-top: 25px;
      margin-left: 40px;
      border-radius: 4px;
      width: 300px;
      background-color: rgb(239, 241, 243);
      padding: 14px 14px 5px 14px;

      p{
        color: grey;
        font-size: 12px;
        margin-bottom: 25px;
      }

      .add__button{
        display: none;
      }

      textarea{
        margin-top: 20px;
        width: 285px;
        height: 46px;
        padding-left: 10px;
        padding-top: 10px;
        resize:none;
        border: 1px solid rgb(211, 211, 211);
        border-radius: 4px;
      }

      .add__task__button{
        position: absolute;
      }
    }

    .in__work__section{
      width: 300px;
      margin-left: 30px;
      margin-top: 25px;
      border-radius: 4px;
      padding: 14px 14px 30px 14px;
      background-color: rgb(239, 241, 243);

      p{
        color: grey;
        font-size: 12px;
      }
    }

    .done__section{
      width: 300px;
      margin-left: 30px;
      margin-top: 25px;
      border-radius: 4px;
      padding: 14px 14px 30px 14px;
      background-color: rgb(239, 241, 243);

      p{
        color: grey;
        font-size: 12px;
      }
    }
  }
}
}
